/* 타이틀 영역 */
#title{
  background-color: #7a8ae7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}
#title::after{
  content: "";
  display: block;
  background-image: url(../img/svg/wave.svg);
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 429px;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

#title .wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  position: relative;
  z-index: 1;
}

#title .h1 {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

#title .titlep {
  grid-column: 1;
  grid-row: 2;
}

#title nav {
  grid-column: 2;
  grid-row: 1 /span 2;
  justify-self: center;
}

#title nav ul {
   
}
#title nav ul li{
  
}
#title nav ul li{
}
#title nav ul li a::before{
  display: block;
  content: "";
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  transform: translateY(-5px);
}
#title nav ul li a::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff82;
  border-radius: 50%;
  background-image: url(../img//svg/8666673_chevron_up_icon.svg);
  transform: rotate(90deg);
  background-size: contain;
  background-repeat: no-repeat;
}
#title nav ul li:nth-child(1) a::before{
  background-image: url(../img//svg/building.svg);
}#title nav ul li:nth-child(2) a::before{
  background-image: url(../img//svg/8608580_ecommerce_graph_increase_icon.svg);
}
#title nav ul li:nth-child(3) a::before{
  background-image: url(../img//svg/scale.svg);
}
#title nav ul li:nth-child(4) a::before{
  background-image: url(../img/svg/identitycard.svg);
}
#title nav ul li a {
   
  width: 150px;
  height: 150px;
  /*! border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#title nav ul li a .menu {
   
}

#title nav ul li a .sm {
   
}
##title nav ul li h2.menu{
  
}
#title nav ul li p{
  
  display: none;
}
#title video{
  position: absolute;
  left: 0;
  right: 0;
}